{% extends "dashboard.html" %}

{% block navbar-content %}
    <li><a href="#">Settings</a></li>
    {% if user.is_authenticated %}
      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header"></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  {% endblock navbar-content %}
  
  {% block sidebar-content %}
    <li><a href="{% url 'dash' %}">Dashboard</a></li>
    <hr>
    <li><a href="{% url 'new_patient' %}">New Patient</a></li>
    <li class="active"><a href="{% url 'view_record'%}">Patients List<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'new_appointment'%}">New Appointment</a></li>
    <li><a href="{% url 'list_appointments'%}">Appointment List</a></li>
  {% endblock sidebar-content %}


{% block fluid-content %}
    
    {% if not object_list %}
      <p><strong>There's no records to show.</strong><a href="{% url 'new_patient' %}">Create one?</a>
    {% endif %}
      <div class="row" >
        <div class="col-lg-12">
          <h2>List of Patients</h2>
        </div>
      </div>
      <br>
      <div class="jumbotron">
        <div class="container">
          <table class="table table-striped">
              <thead>
                <tr>
                  <th>Record Number</th>
                  <th>Name</th>
                  <th>Birthdate</th>
                  <th>Doctor</th>
                </tr>
              </thead>
              <tbody>
                {% for patient in object_list %}
                  <tr>
                    <td><a href="{{ patient.get_absolute_url }}">{{ patient.pk }}</a></td>
                    <td>{{ patient.name }} {{ patient.first_last_name }} {{ patient.second_last_name }}</td>
                    <td>{{ patient.birthdate }}</td>
                    <td>ok</td>
                    <td>
                      <a class="btn btn-default btn-xs" href="{% url 'update_record' patient.pk %}">Edit</a>
                      <a class="btn btn-xs btn-success" href="{% url 'detail_record' patient.pk %}">Details</a>
                    </td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
            <hr>
            <br>
            <a class="btn btn-primary pull-right" href="{% url 'new_patient' %}">Create Patient</a>
        </div>
      </div>
{% endblock %}