{% extends 'dashboard.html' %}
{% load staticfiles %}
{% load bootstrap_tags %}

 {% block navbar-content %}
    <li><a href="#">Settings</a></li>
    {% if user.is_authenticated %}
      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header"></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  {% endblock navbar-content %}
  
  {% block sidebar-content %}
    <li><a href="{% url 'dash' %}">Dashboard</a></li>
    <hr>
    <li class="active"><a href="{% url 'new_patient' %}">New Patient<span class="sr-only">(current)</span></a></li>
    <li><a href="{% url 'view_record'%}">Patients List</a></li>
    <li><a href="{% url 'new_appointment'%}">New Appointment</a></li>
    <li><a href="{% url 'list_appointments'%}">Appointment List</a></li>
  {% endblock sidebar-content %}
          
  {% block fluid-content %} 
    <h1 class="page-header">Create a new Patient</h1>
    <div class="jumbotron">
      <div class="container">
        <form class="form-horizontal" method="post">
          {% csrf_token %}
          {{ form|as_bootstrap_horizontal }}
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <a href="#back" class="btn btn-default">Cancel</a>
              <button type="submit" class="btn btn-primary">
                Create patient
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

  {% endblock fluid-content %}

  {% block page_js %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.10.3/moment.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>

  <script type="text/javascript">
      $(function() {
          $('#id_time').datetimepicker({
            format: 'MM/DD/YYYY HH:mm',
            extraFormats: ['YYYY-MM-DD HH:mm:ss'],
            sideBySide: true
          });
      });
  </script>
  {% endblock %}
