{% extends "dashboard.html" %}
{% load staticfiles %}
{% load bootstrap_tags %}

 {% block navbar-content %}
    <li><a href="#">Settings</a></li>
    {% if user.is_authenticated %}
      <li class="dropdown" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="#">Profile</a></li>
          <li role="separator" class="divider"></li>
          <li class="dropdown-header"></li>
          <li><a href="{% url 'logout' %}">Log out</a></li>
        </ul>
      </li>
      {% else %}
      <li><a href="{% url 'login' %}">Login</a></li>
    {% endif %}
  {% endblock navbar-content %}
  
  {% block sidebar-content %}
    <li><a href="{% url 'dash' %}">Dashboard</a></li>
    <hr>
    <li><a href="{% url 'new_patient' %}">New Patient</a></li>
    <li><a href="{% url 'view_record'%}">Patients List</a></li>
    <li><a href="{% url 'new_appointment'%}">New Appointment</a></li>
    <li class="active"><a href="{% url 'list_appointments'%}">Appointment List<span class="sr-only">(current)</span></a></li>
  {% endblock sidebar-content %}


{% block fluid-content %}

  <div class="row">
    <div class="page-header">
      <h1>Appointments</h1>
    </div>
  </div>

  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          {% if not object_list %}
            <p><strong>No upcoming appointments.</strong> Why not <a href="{% url 'new_appointment' %}">schedule one?</a>
          {% endif %}

          <table class="table table-striped">
            <thead>
              <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Phone number</th>
                <th>Time</th>
                <th>Created at</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              {% for appointment in object_list %}
                <tr>
                  <td><a href="{{ appointment.get_absolute_url }}">{{ appointment.pk }}</a></td>
                  <td>{{ appointment.name }}</td>
                  <td>{{ appointment.phone_number }}</td>
                  <td>{{ appointment.time }}</td>
                  <td>{{ appointment.created }}</td>
                  <td>
                    <a class="btn btn-default btn-xs" href="{% url 'edit_appointment' appointment.pk %}">Edit</a>
                    <a class="btn btn-xs btn-danger" href="{% url 'delete_appointment' appointment.pk %}">Delete</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          <br>
          <a class="btn btn-primary pull-right" href="{% url 'new_appointment' %}">New</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}