
{% extends 'base.html'%}
{% load staticfiles %}

{% block page_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}">
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" id="brand" href="{% url 'menu' %}"><img src="{% static 'imgs/manitas.png' %}" class="img-responsive" id="name"></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <form class="navbar-form navbar-left" role="search" id='searchform' action="{% url 'view_record' %}">
              <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-success">Search</button>
            </form>

    <script type="text/javascript">
      $(function(){
      $("name").keyup(function(event){
        if(event.which == 13){
          document.searchform.submit();
          }
      });

    </script>

            <li class="dropdown" >
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }} <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header"></li>
                <li><a href="{% url 'logout' %}?next={{request.path}}">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <br>
    <br>
    <div class="jumbotron">
      <div class="container">
        <div class="row">
          <center><img src="{% static 'imgs/slogan.png' %}" class="img-responsive" alt="Image" id="slogan"></center>      
        </div>
        <hr>
        {% if not object_list %}
           <p><strong>No upcoming appointments.</strong>
        {% else %}
        <div class="row">
          <p>Today's Patients Appointments:</p>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th>Name</th>
                <th>Phone number</th>
                <th>Time</th>
                <th>Doctor</th>
              </tr>
            </thead>
            <tbody>
              {% for app in object_list %}
                <tr>
                  <td>{{ app.record }}</td>
                  <td>{{ app.phone_number }}</td>
                  <td>{{ app.time }}</td>
                  <td>{{ app.record.patient.doctor }}</td>
                  <td>
                    <a class="btn btn-info btn-xs" href="{% url 'view_appointment' app.pk %}">Detail</a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
          {% endif %}
          <hr>
          <br>
          <br>
        <div class="row" id="options">
          <div class="col-lg-3 col-xs-3">
            <center><a href="{% url 'new_patient' %}"><img src="{% static 'imgs/addbtn.png' %}" class="img-responsive" alt="Image" id="add"></a></center>   
          </div>
          <div class="col-lg-3 col-xs-3">
            <center><a href="{% url 'record_menu' %}"><img src="{% static 'imgs/searchbtn.png' %}" class="img-responsive" alt="Image" id="search"></a></center>
          </div>
          <div class="col-lg-3 col-xs-3">
            <center><a href="{% url 'new_appointment' %}"><img src="{% static 'imgs/appbtn.png' %}" class="img-responsive" alt="Image" id="app"></a></center>   
          </div>
          <div class="col-lg-3 col-xs-3">
            <center><a href="{% url 'app_menu' %}"><img src="{% static 'imgs/searchapp.png' %}" class="img-responsive" alt="Image" id="app"></a></center>   
          </div>
        </div>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    {% else %}
    <center>
      <div style="width: 50% " class="jumbotron">
        <div class="container">
          <img src="{% static 'imgs/slogan.png' %}" class="img-responsive" id="name">
          <hr>
          <h2>Go to login.</h2>
          <br>
          <p>
            <a style="width: 40%" class="btn btn-success btn-lg" href="{% url 'login' %}" >login</a>
          </p>
        </div>
      </div>
    </center>
    {% endif %}

{% endblock %}

{% block page_js %}
{% endblock %}

